<div id="chessboard">
    @for (var line = VerticalAxis.Length - 1; line >= 0; line--)
    {
        for (var column = 0; column < HorizontalAxis.Length; column++)
        {
            var findColor = line + column;

            if (findColor % 2 == 0)
            {
                <div class="field black-field">
                    [@HorizontalAxis[column]@VerticalAxis[line]]
                </div>
            }
            else
            {
                <div class="field white-field">
                    [@HorizontalAxis[column]@VerticalAxis[line]]
                </div>
            }
        }
    }
</div>
