#chessboard {
    display: flex;
    flex-wrap: wrap;
    width: 802px;
    height: 802px;
    border: 1px solid black;
}

    #chessboard .field {
        display: flex;
        width: 100px;
        height: 100px;
        border: 1px solid black;
        align-items: center;
        justify-content: center;
    }

    #chessboard .white-field {
        background-color: #ebecd0;
    }

    #chessboard .black-field {
        background-color: #8f6c35;
    }
