@for (var line = VerticalAxis.Length - 1; line >= 0; line--)
{
    int localLine = line;
    <div class="row">
        @for (var column = 0; column < HorizontalAxis.Length; column++)
        {
            int localColumn = column;
            var piece = BlackPieces.FirstOrDefault(x => x.StartColumn == column && x.StartLine == line);
            if (piece == null)
            {
                piece = WhitePieces.FirstOrDefault(x => x.StartColumn == column && x.StartLine == line);
            }

            bool canMoveHere = rowsPossible.Contains(line) && columnsPossible.Contains(column);

            <div @onclick="() => MovePiece(localLine, localColumn)"
                 class="cell @((piece == activePiece && piece != null) || canMoveHere ? "active" : "")">
                @if (piece != null)
                {
                    <img @onclick="() => { activePiece = piece; EvaluatePieceSpots(); }" src="@piece.Image" class="piece" />
                }
            </div>
        }
    </div>
}
