@using Client.Data;

<div class="container">
    <div class="row">
        <div class="col">
            <img @onclick="() => TransformPiece(Pieces[0])" src="@Pieces[0].Image"/>
        </div>

        <div class="col">
            <img @onclick="() => TransformPiece(Pieces[1])" src="@Pieces[1].Image" />
        </div>

        <div class="col">
            <img @onclick="() => TransformPiece(Pieces[2])" src="@Pieces[2].Image" />
        </div>

        <div class="col">
            <img @onclick="() => TransformPiece(Pieces[3])" src="@Pieces[3].Image" />
        </div>
    </div>
</div>
