.field {
    display: grid;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    place-content: center;
}

.white-field {
    background-color: #ebecd0;
}

.black-field {
    background-color: #8f6c35;
}
