@page "/"

<div id="app">
    <CascadingBlazoredModal Size="ModalSize.Automatic" HideCloseButton="true" 
        DisableBackgroundCancel="true">

        <Chessboard />
    </CascadingBlazoredModal>
</div>
