@page "/register"

<h3><center>Register</center></h3>

<form>
    <div class="form-outline w-25">
    <label for="InputEmail1">Email address or username</label>
    <input align="center" type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>

    <div class="form-outline w-25">
    <label for="InputPassword1">Password</label>
    <input align="center" type="password" class="form-control" id="InputPassword1" placeholder="Password">
  </div>

    <div class="form-outline w-25">
    <label for="exampleInputPassword1">Confirm Password</label>
    <input type="password" class="form-control" id="InputPassword1" placeholder="Password">
  </div>

  <label>
    <button type="submit" class="btn btn-primary">Submit</button>
  </label>
</form>

@code {
    
}
