@page "/login"

<h3><center>Sign In</center></h3>

<form>
    <div class="form-outline w-25">
        <label for="InputEmail1">Email address or username</label>
        <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>

    <div class="form-outline w-25">
        <label for="InputPassword1">Password</label>
        <input type="password" class="form-control" id="InputPassword1" placeholder="Password">
    </div>

    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="Check1">
        <label class="form-check-label" for="Check1">Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">Sign In</button>
</form>


@code {

}
